<div class="container">
  <div class="datos">
    <img class="img-fluid" src="../../assets/img/sobremi.png">
    <div class="texto-bicolor userData">
      <div>
        <p>Nombre: <span>Julián Rodicio</span></p>
        <p>Legajo: <span>110066</span></p>
        <p>Curso: <span>4B</span></p>
        <p>Juego elegido: <span>Escape: Dinosaurio</span></p>
        <p>Descripción del juego: <span>Un dinosaurio está corriendo por su vida. Tenés que ayudarlo para que no se choque contra los obstáculos.
          Cada obstáculo saltado sumará puntos</span></p>
      </div>
    </div>
  </div>
</div>
