<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/ahorcado/ahorcado10.png" alt="Ahorcado">
      <div class="card-body">
        <h5 class="card-title">Ahorcado</h5>
        <p class="card-text">Encontrá la palabra oculta, letra por letra. Pero cuidado! Si el ahorcado se dibuja por completo: YOU DIED</p>
        <a class="btn btn-warning" (click)="this.router.navigateByUrl('home/juegos/ahorcado')">Ir al juego</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/mayor-menor/mayor-menor-logo.png" alt="Mayor o menor">
      <div class="card-body">
        <h5 class="card-title">Mayor o menor</h5>
        <p class="card-text">Proba tu suerte. Adiviná si la carta siguiente sera mayor o menor a la anterior.</p>
        <a class="btn btn-warning" (click)="this.router.navigateByUrl('home/juegos/mayor-o-menor')">Ir al juego</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/preguntados/preguntados-main.png" alt="Preguntados">
      <div class="card-body">
        <h5 class="card-title">Preguntados</h5>
        <p class="card-text">Respondé correctamente a las preguntas para poder avanzar de nivel.</p>
        <a class="btn btn-warning" (click)="this.router.navigateByUrl('home/juegos/preguntados')">Ir al juego</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../../assets/img/dinosaurio/main.png" alt="Adivina la película">
      <div class="card-body">
        <h5 class="card-title">Escape: Dinosaurio</h5>
        <p class="card-text">Eres un dinosaurio y debes escapar del fin del mundo. Saltá los obstáculos y salvate!</p>
        <a class="btn btn-warning" (click)="this.router.navigateByUrl('home/juegos/escape-dinosaurio')">Ir al juego</a>
      </div>
    </div>
  </div>
</div>
