.navbar {
  background-color: #0000008c;
}
.dropdown-menu{
  background-color: #0000008c;
}

.dropdown-item{
  color:rgb(200, 200, 200);
}

.dropdown-item:hover{
  background-color: #00000000;
  color:rgb(255, 255, 255)
}

.dropdown-divider{
  color:rgb(200, 200, 200);
}
.logout{
  background-color: rgba(255, 0, 0, 0.2);
}

.logout:hover{
  background-color: rgba(255, 0, 0, 0.8);
}
