.texto-bicolor{
	top: 25%;
	left: 50%;
}

.img{
  margin-top: 10%;
  margin-left: 10%;
  width: 300px;
  height: 300px;
  border: 5px solid rgba(0,0,0,1.2);
  border-radius: 40px 0px 40px 0px;
  background-image: url(../../images/sobremi.png);
  background-size: contain;
}

.juego{
	position: absolute;
	top: calc(50% + 80px);
	left: calc(30%);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}
