@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);

.texto-bicolor{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(45% - 255px);
	z-index: 2;
}

.texto-bicolor div{
	color: rgb(255, 255, 255) !important;
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.texto-bicolor div span{
	color: #ff3737 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
