<div class="container">
  <div class="datos" *ngIf="authService.userData as user">
    <img class="img-fluid" src="{{(user.photoURL) ? user.photoURL : 'https://img.freepik.com/foto-gratis/impresionado-joven-repartidor-uniforme-azul-gorra-pie-vista-perfil-sosteniendo-paquetes-pizza-haciendo-gesto-golpe-mirando-al-frente-aislado-pared-rosa_141793-110333.jpg'}}" alt="{{user.displayName}}">
    <div class="texto-bicolor userData">
      <div>
        <p>Hola, <span>{{(user.displayName) ? user.displayName : 'Sin nombre'}}</span></p>
        <p>ID: <span>{{user.uid}}</span></p>
        <p>Correo: <span>{{user.email}}</span></p>
        <p>Correo verificado: <span>{{user.emailVerified}}</span></p>
      </div>
    </div>
</div>

