.img-fluid{
  position: absolute;
  left:8%;
  max-height: 300px;
  border: 10px solid;
  border-radius: 20px;
  border-color:  rgba(0,0,0,0.4);
}

.container{
  position: absolute;
  top:200px;
}

.userData{
  position: absolute;
  top: 0px;
  left: 40%;
  background-color: rgba(0,0,0,0.4);
  border: 10px solid;
  border-radius: 20px;
  border-color:  rgba(0,0,0,0.1);
  max-height: 300px;
  max-width: 1000px;
}
